{{#if products.length}}
  {{#each products}}
    <div class="card text-bg-dark mb-3" style="max-width: 540px;">
      
      <img {{#with this.thumbnails}}
            src='{{this.[0]}}'
          {{/with }} class="card-img img-fluid rounded-start h-100 object-fit-cover" alt="{{title}}" />
      <div class="card-img-overlay">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text"><small>{{category}}</small></p>
      </div>
    </div>
  {{/each}}
{{else}}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center">
  <h2>No hay productos</h2>
  <p>Carga tus primeros productos aquí</p>
  <a href="/products/realtimeproducts"><button>Cargar</button></a>
</div>
{{/if}}