<div class="d-flex flex-wrap align-items-center justify-content-evenly">
  {{#if products.length}}
    {{#each products}}
      <div class="card text-bg-dark mb-3" style="max-width: 540px;">
        
        <img {{#with this.thumbnails}}
              src='{{this.[0]}}'
            {{/with }} class="card-img img-fluid rounded-start h-100 object-fit-cover" alt="{{title}}" />
        <div class="card-img-overlay">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">{{description}}</p>
          <p class="card-text"><small>{{category}}</small></p>
          {{#if _id}}
          <a href="/products/{{_id}}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Más</a>
          {{else}}
          <a href="/products/{{id}}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Más</a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
      <h2>No hay productos</h2>
      <p>Carga tus primeros productos aquí</p>
      <a href="/products/realtimeproducts"><button>Cargar</button></a>
    </div>
  {{/if}}
</div>